p.winnerTitle{
    font-weight: 600;
    font-size: 18px;
}
p.winnerTitle span.X{
    color: #ff5722;
}
p.winnerTitle span.O{
    color: #2196f3;
}
.gameBoard{
    text-align: center;
}
.board {
    padding: 5vh;
    height: 63vh;
    width: 31vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-bottom: 3vh;
    background-color: lavender;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.cell {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #333;
    font-size: 48px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, color 0.3s;
    width: 150px;
    height: 150px;
}
.cell:hover {
    background-color: #f1f1f1;
}
.X {
    color: #ff5722;
}
.O {
    color: #2196f3;
}
.cell.winning.X {
    animation: blink 1s infinite;
    border: 2px solid #ff5722;
}
.cell.winning.O {
    border: 2px solid #2196f3;
    animation: blink 1s infinite;
}
.winner {
    font-size: 24px;
}
button {
    padding: 10px 20px;
    background-color: #9544ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #8427ff;
}
.wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
@keyframes blink {
    50% {
        border: 2px solid #ffffff;
    }
}
.title{
   padding: 1vh 2vh;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lavender;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.titleWrap{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}